body{margin:0;background-color:#444;font-family:Helvetica;font-size:2em;line-height:1em;overscroll-behavior:none;padding:0; width:100vw!important; }
header{position:relative;padding:.5em;z-index:10;}
header a{max-width: 75vw ;}
header p a{max-width: 75vw !important;}

.icons{
	pointer-events:none
}
header,header a, i {
	text-shadow:2px 2px 2px black;
}

input {pointer-events:all}
header h1{display:inline-block;color:#fff}
header h1 a{cursor:pointer;color:#fff;text-decoration:none;opacity:.8;font-size:1.2em}
header h1 a:hover{opacity:1!important}
header span a{color:#fff;font-size:.5em;line-height:.4%}
a{cursor:pointer;color:#fff;text-decoration:none;opacity:.8;}
a:hover{opacity:1!important}
a{pointer-events: all !important}
header p a{font-size:.5em}
canvas{pointer-events:all !important;position:absolute;background: inherit;top:0;    z-index: -1;}
header h1,table{
	margin:0;
	font-size:1em;
	overscroll-behavior:none;
	padding-bottom:0;
	position: relative;
	z-index:1;
	pointer-events:none
}

a{color:#ff0;text-decoration:none}
a:hover{text-decoration:underline}
button{cursor:pointer;text-transform:uppercase}
.dg.ac{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;z-index:2!important}
table{padding:1em;table-layout:fixed;width:100%}
.frame{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;perspective:100px}
td{vertical-align:top;position:relative}

.code{
	/* border-radius: 1vw; */
	background:rgb(0 0 0 / 90%) !important;
	/* height: fit-content; */
	overflow: scroll/*padding:1em*/ z-index:1;
	width: calc(100% - 1em);
	font-size: 0.6em;
	line-height: 110%;
	margin: 0;
	line-height: 1;
	padding-left: 1em;
	position: absolute;
	bottom: 0;
	pointer-events: all;
	z-index:1000;
	padding-top:1em;
	padding-bottom:1em;
	max-height: 80vh;
	overflow: scroll;
}

.code code{
	pointer-events:all;
}


.hljs,.hljs-tag,.hljs-subst{color:#f8f8f2}
.hljs-strong,.hljs-emphasis{color:#a8a8a2}
.hljs-bullet,.hljs-quote,.hljs-number,.hljs-regexp,.hljs-literal,.hljs-link{color:#ae81ff}
.hljs-code,.hljs-title,.hljs-section,.hljs-selector-class{color:#a6e22e}
.hljs-strong{font-weight:700}
.hljs-emphasis{font-style:italic}
.hljs-keyword,.hljs-selector-tag,.hljs-name,.hljs-attr{color:#f92672}
.hljs-symbol,.hljs-attribute{color:#66d9ef}
.hljs-params,.hljs-class .hljs-title{color:#f8f8f2}
.hljs-string,.hljs-type,.hljs-built_in,.hljs-builtin-name,.hljs-selector-id,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-addition,.hljs-variable,.hljs-template-variable{color:#e6db74}
.hljs-comment,.hljs-deletion,.hljs-meta{color:#75715e}
#showCode button{background:transparent;color:#fff;font-size:20px; border:0}
button:focus{outline:none}
.icons{position:absolute;z-index:2;top:.5em;width:100%;right:.5em;text-align:right;}
/*i,p,span{cursor: default;}*/
a i {cursor:pointer !important}
header,h1,div{cursor:default}
.icons i{padding:.1em;color:#fff}
#showCode{position:absolute;z-index:1001;bottom:2vw;width:100%;right:2vw;text-align:right;cursor: default;}
#showCode i{padding:.1em;color:#fff}
/*p{margin:0;
	display: inline-block;line-height:1px}
*/

a {
	color:white !important;
	cursor:pointer !important
}

svg{
	padding:25px
}


svg circle{
	stroke:black;
	fill:grey
}
/*
header span:not(last-child)::after {
  content: " ";
  font-weight:100;
  font-size:1em
}*/

header p {
	display:block;
	padding:0;
	margin:0;
}
#video{
	position: fixed;
	z-index: -1;
}

header p:nth-of-type(1) {
	/*position:absolute !important;*/
	width:100%
}

header span {
font-size:2em
 
}header p span {
	text-decoration:none;
	padding:0;
	margin:0;
	line-height:0px !important;
	font-size:1em !important
}

header ul li{
	display: inline-block;
	list-style: none;
}
header ul li:not(last-child)::after{
	content: " »";
}
.code{
	position: absolute;
}
#markdown_source {
	/*display: block;*/
	display:none;
}
#markdown {
	border: 1px dashed #333333;
	width: 100%px;
	height:fit-content;
	padding:1em
}
#markdown{pointer-events:none}
body{pointer-events:none}
audio, input, select, button{pointer-events:all}

ul{
	margin-top: 0;
	margin-bottom: 0;
}

h3{
	margin: 0.1em;
	
}
.dg.ac{
	z-index: 9999999 !important;
	pointer-events: all;
}

#sourceLink {
	position:absolute;
	right:1em
}
#sourceLink a{
	color:pink
}


/* joystick */
.row{
	display: inline-flex;
	clear: both;
	position:fixed;
	bottom:0;
	width:100vw
}

#joy1Div, #joy2Div{
	position:fixed;
	width:150px;
	height:150px;
	margin:0px;
	bottom:0;
}

#joy2Div {  right:0;}

#buttonGroupL,#buttonGroupR {
	position: fixed;
	bottom: 0;
	/*padding: 1em;*/
	pointer-events:none
}
#buttonGroupL { left:150px }
#buttonGroupR { right:150px }
#buttonGroupL div, #buttonGroupR div{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0.5em;
	height:1em;
	width:1em;
	text-align:center;
	border-radius:50%;
	border: 4px solid rgba(0,0,0,0.5);
	margin: 0.1em;
	cursor:pointer;
	position:relative;
	pointer-events:all
}

#a{ background:rgba(  0,255,  0,0.5); }
#b{ background:rgba(255,  0,  0,0.5); /*left: 1em;*/}
#x{ background:rgba(  0,  0,255,0.5); }
#y{ background:rgba(255,255,  0,0.5); /*left: 1em;*/}



#dpad {
	width:150px;
	height:150px;
	background:transparent;
	align-content:center;
}

#dpad div{
	width: 50%;
	margin: 0 auto;
	width:33.3%;
	height:33.3%;
	background:rgba(0,0,0,0.5);
	text-align:center;
	border-radius:4px;
	cursor:pointer;
	pointer-events:all
}

.dpadRow {
	background: transparent !important;
	position:relative;
	width: 100% !important;
}

.dpadRow div{
	margin: auto;
	display:inline-block;
	position:relative;
	height: 100%!important;
	width: 33.3%!important;
	text-align:center
}
#dpad div i{
	font-size:1.5em;
	color:rgba(255,255,255,0.9);
	text-shadow:none
}
.dpadRow #dpad_right{
	right:0;
	position: absolute;
}

.dpadRow #dpad_left{
	left:0;
	position: absolute;
}
input{
	width: 95% !important;
	position: absolute;
	font-size:26px;
	font-family: 'Courier New', monospace;
font-weight:900;
padding:0.1em
}
table  .labels{
	text-align:center !important;
	width:100%;
	font-size:0.8em;
	font-weight:900;
	color:#fff;
}
